body {
  padding-top: 5rem;
}
.starter-template {
  text-align: center;
}

.navbar {
	background-color:#283E4A;
  	text-align: center;
}


.logo {
	margin-left: 50px;
	color:#2CA94E;
}
.barBoutons {
	margin-left: 100px;
}
.bouton {
	margin-right: 10px;
}

