body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


.navbar {
	background-color:#283E4A;
  	text-align: center;
}
.logo {
	margin-left: 50px;
	color:#2CA94E;
}
.barBoutons {
	margin-left: 100px;
}
.bouton {
	margin-right: 10px;
}
.texte{
    float:left;
}
.boutona{
    margin-top: 4px;
}
.btngr {
    background-color :cornflowerblue;
    color : white;
    border-color: cornflowerblue;    
}
.btngr:hover {
    cursor:auto;
    background-color:cadetblue;
}
